extends _layout.pug

block content
  section.songs
    .container
      form  
        .row
          .col-7.col-sm-4.offset-sm-4
            label: i.fa.fa-search.fa-lg
            input(type="text", ng-model="filterSearch")
      .row
        .col-10.offset-1
          table
            thead
              tr
                th.artist(ng-click="sorting('artist')") Artist
                  i(ng-show="sortBy === 'artist' && sortReverse", class="fa fa-caret-up")
                  i(ng-show="sortBy === 'artist' && !sortReverse", class="fa fa-caret-down")
                th.title(ng-click="sorting('title')") Song
                  i(ng-show="sortBy === 'title' && sortReverse", class="fa fa-caret-up")
                  i(ng-show="sortBy === 'title' && !sortReverse", class="fa fa-caret-down")
            tbody
              tr(ng-repeat="s in songs | orderBy: customOrder(sortBy): sortReverse | filter: filterSearch")
                td {{ s.artist }}
                td {{ s.title }}
